<!-- start footer Area -->
<footer class="page-footer" style="background-color: #10455b; padding-top: 30px; padding-bottom: 10px; height: auto;">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Contact</h4>
                    <p><span class="align-middle" style="margin-right: 5px;">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span> contact@hellohelp.fr</p>
                    <p class="text-muted">
                        Copyright &copy;
                        {{year}} Tous droits réservés </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>Restez informé !</p>
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://hellohelp.us4.list-manage.com/subscribe/post?u=76851a8233896cee8c1c6d748&amp;id=1985eb0c3a"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="input-group">
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL"
                                    placeholder="Adresse email" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_76851a8233896cee8c1c6d748_1985eb0c3a" tabindex="-1" value=""></div>

                                <button class="btn btn-dark" type="submit" name="subscribe" id="mc-embedded-subscribe">
                                    <span>
                                        <ion-icon name="mail-outline"></ion-icon>
                                    </span>
                                </button>

                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h4>Suivez-nous</h4>
                    <div class="footer-social d-flex align-items-center">
                        <a href="https://www.instagram.com/hellohelpapp/" target="_blank"
                            class="text-decoration-none text-reset" style="padding:10px;">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="https://twitter.com/HelloHelpApp" target="_blank"
                            class="text-decoration-none text-reset" style="padding:10px;">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="https://wweeddoo.com/projets/2gQIZMfhn-" target="_blank"
                            class="text-decoration-none text-reset" style="padding:10px;">
                            <ion-icon name="browsers-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->