<main role="main">
    <div style="background-color: #10455b;">
        <img src="assets/images/Plan de travail – 1.svg" width="100%" height="300"
            style="object-position: center; object-fit: cover;">
    </div>
    <div class="container marketing">
        <h2 class="featurette-heading">HelloHelp !</h2>
        <p class="lead">HelloHelp est la plateforme dont vous ne pourrez plus vous passer. Grâce à ses fonctionnalités
            d’échange de services, d’emprunt d’objets et de covoiturage, vos journées seront plus agréables et
            vous serez plus responsable.</p>
        <div class="container" style="margin-top: 40px;">
            <div class="embfied-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/YTUohpMp6bE?showinfo=1&color=white&rel=0&modestbranding=1"
                    allowfullscreen></iframe>
            </div>
        </div>

        <hr class="featurette-divider fat">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Une ville plus solidaire !</h2>
                <p class="lead">HelloHelp favorise la solidarité entre les habitants d’une même ville, vous facilite
                    l'échange de services
                    et le prêt d'objets en vous proposant une plateforme simple et sécurisée. HelloHelp est plus qu'une
                    application, HelloHelp
                    est un créateur de lien.
                </p>
            </div>

            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="assets/images/custom – 1.svg" height="500"
                    width="500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider fat">

        <div class="row featurette">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Réduisez votre empreinte carbone !</h2>
                <p class="lead">HelloHelp vous aide à réduire votre
                    empreinte carbone grâce au covoiturage, simplement et en toute sécurité !</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="featurette-image img-fluid mx-auto" src="assets/images/custom – 2.svg" height="500"
                    width="500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider fat">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Fini la surconsommation !</h2>
                <p class="lead">HelloHelp, vous facilite
                    le prêt d'objet, dites au-revoir à ces objets qui trainent au fond
                    de votre placard dont vous vous êtes servi qu'une seule fois !
                </p>
            </div>

            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="assets/images/custom – 3.svg" height="500"
                    width="500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider fat">

        <div class="row featurette">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Dites oui au local !</h2>
                <p class="lead">HelloHelp vous aide à favoriser les commerces locaux en les mettant en
                    avant.
                </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="featurette-image img-fluid mx-auto" src="assets/images/custom – 4.svg" height="500"
                    width="500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider fat">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Restez informé !</h2>
                <p class="lead">Grâce à HelloHelp soyez informé de toutes les dernières actualités de
                    votre ville.
                </p>
            </div>

            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="assets/images/custom – 5.svg" height="500"
                    width="500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider fat">
    </div>
</main>